<script context="module">
    import { goto } from '$app/navigation'
    let slug;
    function redir() {
        goto(`/quiz/${slug}`)
    }
</script>
  

<div class="flex flex-col justify-center items-center min-h-screen bg-blue-200">
    <h1 class="text-3xl mb-3">
        qz
    </h1>

    <form on:submit|preventDefault={redir} class="p-3">
        <input bind:value={slug} placeholder="quizlet id">
        <button type="submit" class="btn btn-blue">
            Go
        </button>
    </form> 
</div>

