<script context="module">
    export async function load({ params, fetch }) { 
      const quiz = params.quiz
      const req = await fetch(`https://quizizz.com/quiz/${quiz}`)
      const data = await req.json()
      if (data.error) {
        return { 
          status: 404,
          error: "Quiz not found"
        }
      }
      return { 
        props: {
          data,
          quiz: data.data.quiz.info,
          qs: data.data.quiz.info.questions
        }
      }
    }
</script>

<script>
    // export let data, quiz;
    export let qs;
    $: currentQuestion = 0
    $: q = qs[currentQuestion]
    $: correct = 0
    function incQ() {
        if (currentQuestion >= qs.length) { 
          alert("you are already at the last question!")
          return
        }
        if (currentQuestion < qs.length && currentQuestion >= 0) currentQuestion++;
    }

    function decQ() {
      if (currentQuestion <= 0) {
        alert("you are at the start of the quiz!")
        return
      }
      if (currentQuestion >= qs.length) currentQuestion = qs.length - 2;
      if (currentQuestion < qs.length && currentQuestion >= 0) currentQuestion--;
    }

    function answerClick(e) {
      if (currentQuestion < qs.length && currentQuestion >= 0) currentQuestion++;
      if (e.id.replace("button-", "") == q.structure.answer) {
        alert("right")
      } else {
        alert("wrong")
      }

    }
    
</script>

<div class="flex flex-col min-h-screen bg-blue-200 text-center items-center">
    <h1 class="text-2xl text-center mt-2">question {currentQuestion + 1}</h1>
    <h1 class="text-2xl text-center m-3">{@html q.structure.query.text.replace("<sup>0</sup>", "°")}</h1>
    {#if q.structure.query.media.length > 0}
        {#each q.structure.query.media as m}
           <details class="ml-3 text-center">
               <summary>see image</summary>
               <img src={m.url} alt="visual stimulus for question {currentQuestion}" width={m.width} height={m.height} class="w-min h-min ml-[auto] mr-[auto] block ">
           </details>
        {/each}
    {/if}
    <br>
    {#each q.structure.options as op, i}
        <button id={`answer-${i}`} on:click={answerClick} class="rounded-full border border-solid border-black w-min text-center items-center justify-center m-2 p-2 bg-blue-200 hover:bg-blue-300">{@html op.text}</button>
    {/each}
    <br>
    <button on:click={incQ} class="text-lg text-green-500">🡺 next</button>
    <button on:click={decQ} class="text-lg text-red-500">🡸 back</button>
    <input >
</div>
